.status-dot {
    position: absolute;
    bottom: 4px;
    right: -2px;
    width:10px;
    height:10px;
    border-radius: 50%;
  }
  
  .status-dot.green {
    background-color: green;
  }
  
  .status-dot.yellow {
    background-color: rgb(187, 187, 187);
  }
  
  