/* src/App.css */
#root {
  margin: 0;
  padding: 0;
  height: 100%;
 
 
}
.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f4f4f4;
}
.fullscreen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Prevent content overflow */
}
.sticky{
  position: sticky;
  z-index: 10;
  z-index: 10;
  padding: 10px;
  
  top: 0;
  background-color:  #f4f4f4;
  display: flex;
  

}
.left {
  display: flex; /* Use flexbox for the left section */
  align-items: center; /* Vertically align the content */
  justify-content: flex-start; /* Justify the content (e.g., status icon and title) */
  flex-grow: 1; /* Allow it to take up remaining space */
}
.right {
  display: flex; /* Use flexbox for the right section */
  justify-content: flex-end; /* Align icons to the right */
  align-items: center; /* Vertically align the icons */
}
h4 {
  margin: 0 10px; /* Add some spacing between the title and icons */
}
.kanban-column-header {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  background-color: #f4f4f4; /* Set a background color */
  z-index: 1; /* To ensure it stays on top of other elements */
  padding: 10px 15px; /* Add some padding around the header */
  
}
.selectors {
  position: sticky;
  top: 0; /* Sticky at the top of the viewport */
  z-index: 10; /* Ensure it stays on top of other content */
  background-color: white; /* Optional: Ensure it has a solid background */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for visual separation */
}

.kanban-board {
  display: flex;
  gap: 20px;
  overflow: auto;
 
  
}

.kanban-column {
  flex: 1;
  padding: 10px;
  overflow-y: scroll;
  padding-top: 0px;
  scrollbar-width: none;
  
  
  
}
.kanban-column::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}


.ticket-card {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.spanDisplay{
  margin-left: 10px;
}
.card-count {
  font-size: 0.9rem;
  color: gray;
  margin-left: 8px;
}
.priority_label
{
  
}
